
.entryArea {
    background-color: #ff89898b;
    width: 500px;
    height: 500px;
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.textBox {
    width: 400px;
    height: 250px;
    max-height: 400px;
    margin: 0 auto;
   
}

.form-control {
    margin-bottom: 2em;
}

.entryBtn {
    background-color: #f47c7c;
    color: white;
    padding: 5px;
}

