.formArea {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vh;
    color: white;
}

.displayPosts {  
    background-color: #ff89898b;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 400px;
    text-align: center;
    
}
