body {
  margin: 0;
  background-image: url('./images/mountains.jpg');
  background-color: royalblue;
  background-size:100vmax;
  background-blend-mode:screen;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


